.elementsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px 38px;
    margin-top: 5px;
    margin-bottom: 50px;
    max-width: 1600px;
  }