body{ 
    font-family: Ubuntu;
}

.button{
    border-style: solid;
    border-color: #000000;
    background-color: #000000;
    border-radius: 15px;
    width: 120px;
    float: right;
    text-align: center;
    color: #FFFFFF;
} 

.container{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    justify-content: center;
    background-color: #D3D3D3;
    list-style-type: none;
    max-width: 90%;
    position: center;
}

.element {
    background-color: #f1f1f1;
    padding: 14px;
    padding-top: 2px;
    text-align: justify;
    font-size: 1.0625rem;   
}

.element_image{
    margin-right: 20px;
}

@media screen and (min-width: 576px)
and (max-width: 768px) { 
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .element{
        width: 350px;
    }
    .container{
       /* width: 1280px;*/
        grid-template-columns: auto auto auto ;
        justify-items: center;

    }
}
