.body{ 
    font-family: Ubuntu;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0.625rem;
    background-color: #D3D3D3;
    list-style-type: none;
    padding-left: 0px;
}

.element {
    background-color: #f1f1f1;
    padding: 14px;
    padding-top: 2px;
    text-align: justify;
    font-size: 1.0625rem;   
}

.element__button {
    border-style: solid;
    border-color: #000000;
    background-color: #000000;
    border-radius: 15px;
    float: right;
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
} 

.element__image {
    margin-right: 20px;
    width: 30%;
}

.element__footer {
    font-size: 2rem;
    font-family: Ubuntu;
}

@media screen 
  and (min-device-width: 768px)  
  and (max-device-width: 1270px) { 
    .element{
        width: 350px;
    }
    .container{
        width: 1280px;
        grid-template-columns: repeat(3, 1fr);
    }
    .element__button,.element__footer{
        font-size: 1.0625rem;
    }
}

@media screen 
  and (min-device-width: 1280px) { 
    .element{
        width: 350px;
    }
    .container{
        width: 1280px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

    }
    .element__button,.element__footer{
        font-size: 1.0625rem;
    }
}
